body {
}

/*banner*/
.banner {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.companySlogan{
    width: 640px;
}

.companySlogan h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    color: #303030;
    width: 90%;
}

.companySlogan p {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #303030;
    width: 99%;
}

.banner .image {
    background: url('../../Assets/bannerImage.png');
    width: 450px;
    height: 420px;
    object-fit: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.checkDetails.btn:hover{
    cursor: pointer;
}

/*empty space*/
.emptySpace {
    height: 50px;
    width: 100%;
    background-color: #C8F0F2;
}


