body {
}

/*banner*/
.banner {
    width: 90%;
    height: 687px;
    background-color: #C8F0F2;
    margin: 0 auto;
    margin-top: 20px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

.companySlogan h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    color: #303030;
    width: 60%;
}

.companySlogan p {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #303030;
    width: 70%;
}

.banner .image {
    background: url('../../Assets/bannerImage.png');
    width: 600px;
    height: 420px;
    object-fit: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.whiteBg {
    height: 217px;
    background-color: #FFFFFF;
}

/*service list*/
.serviceList {
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    height: 340px;
    position: absolute;
    top: 650px;
    left: 70px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    margin-left: 50px;
    gap: 70px;
    flex-wrap: wrap;
}

.cell {
    width: 240px;
    height: 253px;
    background: #EDFCFF;
    border-radius: 20px;
}
